[tool.poetry]
name = "zeph"
version = "0.1.0"
description = ""
authors = ["Matthieu Gouel <matthieu.gouel@protonmail.com>"]

[tool.poetry.dependencies]
python = ">=3.8,<3.10"
requests = "^2.25.0"
py-radix = "^0.10.0"
mrtparse = "^2.0.1"
typer = "^0.3.2"
diamond-miner = "^0.5.1"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = {version = "^20.8b1", allow-prereleases = true}
flake8 = "^3.8.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
