name: Tests
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install Poetry
        run: python -m pip install poetry
      - name: Run tests
        run: |
          poetry install
          poetry run pytest --cov=zeph --cov-report=xml
      - uses: codecov/codecov-action@v2
